/* Home Page */
*{
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #ADD8E6;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06); 
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }
  .logo h1{
      font-size: 38px;
      color: black;
  }
  .nav{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  }
  .nav ul{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .nav ul li{
      color: black;
      margin: 0px 10px;
      list-style: none;
  }
  .nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 18px;
    transition: 0.3s ease;
  }
  
  .nav ul li a:hover{
    color: blue;
    font-size: 15px;
  }
  
  
  .ig{
      margin-left: 20px;
  
  }
  .ig img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
  }
  .float{
      position: absolute;
      width: 230px;
      background-color: white;
      top: 70px;
      right: 0px;
      border-radius: 3px;
      max-height: 0px;
      transition: max-height 1s;
      overflow: hidden;
  }
  /* Create one class not linked to html */
  .fin{
      max-height: 250px;
  }
  .float hr{
      background-color: rgb(150, 165, 165);
  }
  .profile{
      display: flex;
      align-items: center;
      padding: 15px 10px 5px 10px;
  }
  .profile h4{
      font-size: 14px;
      margin-left: 10px;
  }
  .profile img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }
  .ic{
      padding: 7px 15px;
      display: flex;
      align-items: center;
  }
  .ic p{
      font-size: 14px;
      margin-left: 15px;
      cursor: pointer;
      transition: font-weight 0.2s;
  }
  .ic:hover p{
      font-weight: 700;
  }
  .ic i{
      font-size: 18px;
      width: 18;
      background-color: rgb(128, 128, 128, 0.573);
      padding: 5px;
      border-radius: 50%;
      color: rgb(27, 16, 87);
  }
  
  .ic a{
    text-decoration: none;
    color: black;
  }
  
  
  /* Home page */
  

  #banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/images/CPbanner.png");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: black;
    font-size: 30px;
    padding: 30px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover{
    background: #088178;
    color: #fff;
}

  /* Hero Section/Header Section */
  #hero{
      background-image: url("/images/mainheader.png");
      height: 90vh;
      background-size: cover;
      background-position: top 25% right 0;
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
  }
  #hero h4{
      padding-bottom: 15px;
  }
  #hero h1 {
      color: #088178;
  }
  
  #hero button{
      background-image: url("/images/button.png");
      background-color: transparent;
      color: #088178;
      border: 0;
      padding: 14px 80px 14px 65px;
      background-repeat: no-repeat;
      cursor: pointer;
      font-weight: 700;
      font-size: 15px;
  }




  /* For Adding the new EMployee and Studnet */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.register{
  height: 120vh;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container-register{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container-register .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container-register .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#check{
  height: 15px;
  width: 30px;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}