<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/3e0ba4391f.js"
      crossorigin="anonymous"
    ></script>
    <title>Home Page</title>
  </head>
  <body>
    <div class="main">
      <div class="logo">
        <h1>DBMS</h1>
      </div>
      <div class="nav">
        <p style="color: red;"><%= errorMessage %></p>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/search">Search Book</a></li>
            <li><a href="/register-emp">Add Employee</a></li>
            <li><a href="/register-student">Add Student</a></li>
        </ul>
        <div class="ig">
          <img src="profile.jpg" id="navbar" alt="" />
        </div>
        <div class="float" id="flow">
          <div class="ic">
            
            <a href="/profile"><p>User Profile</p></a>
          </div>
          <div class="ic">
            <a href="/update-password"><p>Edit Profile</p></a>
          </div>
          <div class="ic">
            <a href="/logout"><p>Logout</p></a>
          </div>
        </div>
      </div>
    </div>
    <section id="hero">
      <h4>Trade-in-Medicines <br> and Health Care</h4>
      <h2>Use And Implementation Of <br> IOT For Mine Workers</h2>
      <h1>On all products</h>
  </section>

  <section id="banner" class="section-m1">
    <h4>Today's Discounts</h4>
    <h2>Up to <span>50% off</span> - All Medicines </h2>
    <a href="/studentinfo"><button type="submit" class="normal">Explore more</button></a>
   
</section>

    <script src="/js/main.js"></script>
  </body>
</html>