<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="/css/styles.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Update Book Page</title>
   </head>
<body class="register">
  <div class="main">
    <div class="logo">
      <h1>DBMS</h1>
    </div>
    <div class="nav">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/search">Search Book</a></li>
        <li><a href="/register-emp">Add Employee</a></li>
        <li><a href="/register-student">Add Student</a></li>
    </ul>
      <div class="ig">
        <img src="profile.jpg" id="navbar" alt="" />
      </div>
      <div class="float" id="flow">
        <div class="ic">
          <i class="fa-solid fa-table-columns"></i>
          <a href="/profile"><p>User Profile</p></a>
        </div>
        <div class="ic">
          <i class="fa-regular fa-user"></i>
          <a href="/update-password"><p>Edit Profile</p></a>
        </div>
        <div class="ic">
          <i class="fa-solid fa-right-from-bracket"></i>
          <a href="/logout"><p>Logout</p></a>
        </div>
      </div>
    </div>
  </div>


  
            <% if(books && books.length > 0) { %>
                <% books.forEach(function(book) { %> 
                    <div class="container-regiter">
                        <div class="title" style="color: yellow;">Update Book</div>
                        <div class="content">
                          <form action="/updateBook" method="post">
                            <div class="user-details">
                              <div class="input-box">
                                <span class="details">Book ISBN</span>
                                <input type="text" value="<%= book.ISBN %>" name="ISBN"required>
                              </div>
                              <div class="input-box">
                                <span class="details">Book Name</span>
                                <input type="text" value="<%= book.book_title %>" name="book_title" required>
                              </div>
                              <div class="input-box">
                                <span class="details">Book's Aurthor</span>
                                <input type="text" value="<%= book.author %>" name="author" required>
                              </div>
                              <div class="input-box">
                                <span class="details">Book's category</span>
                                <input type="text" value="<%= book.category %>" name="category" required>
                              </div>
                              <div class="button">
                                <input type="submit" value="Update">
                              </div>
                            </form>
                          </div>
                        </div>
              <%  }); %>
           <% } %>
        
        
    

  <script src="/js/main.js"></script>
</body>
</html>
